.mainChat
  .mainChat__header
    .mainChat__header__groupname
      %p{class: 'mainChat__header__groupname__name'}
        = @group.name
      %p{class: 'mainChat__header__groupname__member'}
        = "Member:" + @group.users.pluck(:name).join(",")

    = link_to edit_group_path(@group.id) do
      Edit

  .mainChat__content
    = render @messages

  .mainChat__footer
    = form_for [@group, @message], html:{class: "mainChat__footer__inputspace"} do |f|
      = f.text_field :content, class: 'mainChat__footer__inputspace__text', placeholder: 'type a message'
      = f.label :image, class: 'mainChat__footer__inputspace__imageBtn' do
        = fa_icon "image"
        = f.file_field :image, class: 'mainChat__footer__inputspace__imageBtn__inputfile'
      = f.submit 'Send', class: 'mainChat__footer__inputspace__send'